h1, p {
    text-align: center;
}
body {
    font-size: xx-large;
}
ul li:hover {
    background-color: brown;
}
ul li:active {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
li {
    list-style: none;
}