* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}



header{
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#frase{
  display: flex;
  margin: 1%;
  justify-content: center;
}
#imagens{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 550px; */
  text-align: center;
  /* column-gap: 30px;
  row-gap: 30px; */
  align-content: center;
}
div{
  background-color: gainsboro;
  border-radius: 20px;
  color: gray;
  margin: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
h4{
  margin: 20px;
}
#linha{
  border: 1px solid gainsboro;
  margin-top: 1%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}
footer{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
